
 
<table  datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
        <tr>
            <th class="table-title text-center">
                No.
            </th>
            <th class="table-title act-width text-center">
                User Name
            </th>
            <th class="table-title act-width text-center">
                PhoneNo
            </th>
            <th class="table-title act-width text-center">
                Email
            </th>
            <th class="table-title act-width text-center">
                Nrc
            </th>
            <th class="table-title act-width text-center">
              Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList;let i=index">
            <td class="text-center">{{ i+1 }}</td>
            <td class="text-center">{{ user.username }}</td>
            <td class="text-center">{{ user.phone_no }}</td>
            <td class="text-center">{{ user.email }}</td>
            <td class="text-center">{{ user.nrc }}</td>
            <td class="text-center">
              <button class="btn btn-danger btn pl-3px">Delete</button> | 
              <button class="btn btn-info btn">Edit</button>
            </td>    
             
        </tr>
    </tbody>
</table>
